# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

Railway2/.vs/Railway2/CopilotIndices/
Railway2/.vs/Railway2/FileContentIndex/
Railway2/.vs/Railway2/v17/ipch/AutoPCH/
Railway2/Railway2/x64/Release/microsoft/
Railway2/Railway2/x64/Release/Railway2_MD.tlog/
